---
import WorkIcon from '../icons/WorkIcon.astro'
---

<div class ="w-full mx-auto lg:w-[740px] py-10">
    <h2 class="flex items-center text-3xl font-bold text-gray-900 dark:text-white pb-5">
        <WorkIcon class="size-10 mr-2" /> Experiencia
    </h2>
    <ol class="relative border-s border-gray-200 dark:border-gray-700 ">                  
        <li class="mb-10 ms-6">            
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Apoyo general en LABCIM UBB <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300 ms-3">Mas Reciente</span></h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Noviembre 2024 - Actualidad</time>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Participo como apoyo el laboratorio de la universidad revisando codigos, apoyando a la construccion de hardware, redactando documentaci칩n y ofreciendo mantencion a los elementos de HW y SW.</p>
        </li>
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Desarrollo Proyecto Particular</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Diciembre 2023 - Agosto 2024</time>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Me encargue de desarrollar el software de un proyecto de investigaci칩n de la universidad, el cual consistia en un sistema de monitoreo de variables ambientales. Realice trabajos tanto de programaci칩n como de dise침o y construccion de hardware ademas de la documentacion correspondiente.</p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Tecnico en hardware</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Diciembre 2020 - Actualidad</time>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Encargado de la actualizacion, mantencion y reparacion de hardware dentro del grupo familiar y de amigos, ademas de la construccion de hardware para proyectos personales.</p>
        </li>
    </ol>
</div>