---
import Navbar from '../components/Navbar.astro';
import Experience from '../components/Experience.astro';
import Skils from '../components/Skils.astro';
import '../styles/global.css'
import '@fontsource-variable/lexend-deca';
interface Props {
	title: string;	
	description: string;
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="logoPAG.svg"/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title> {title} </title>
	</head>
	<body class="px-4">
		<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div></div>
		<slot />
		<Navbar />
		<div class="w-full mx-auto lg:w-[740px] py-10">
			<Experience />
			<Skils />
		</div>
	</body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
		--lang: 'es';
	}

	html [
		font-family: 'Lexend Deca Variable', sans-serif;
	]

	body {
		font-family: 'Lexend Deca Variable', sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		/* margin-top: 10; */
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

</style>
